@use "./task.scss";
@import "./variables.scss";

.textInput {
	margin: 10px 0px;
	.wrapper {
		padding-top: 0px;
		background: #e9eaeb;
		border-radius: 5px 5px 0px 0px;
		display: flex;
		border-bottom: 1px solid #878888;
		position: relative;
		overflow: hidden;
	}

	input,
	textarea,
	select {
		padding: 12px 15px 0px 15px;
		width: 100%;
		outline: unset;
		border: 0px;
		min-height: 30px;
		background: unset;
		z-index: 1;
	}
	.triangle {
		position: absolute;
		right: 10px;
		transform: translateY(45%);
	}

	input {
		height: 45px;
	}

	textarea {
		padding-top: 20px;
	}

	select {
		all: unset;
		padding: 12px 15px 0px 15px;
		width: 100%;
		display: flex;
		align-items: center;
		height: 30px;
		font-size: 0.85rem;
	}

	.label {
		position: absolute;
		top: 0px;
		left: 15px;
		transform: translateY(50%);
		z-index: 0;
		transition: all 0.2s;
		color: #747272;
		font-size: 0.95rem;

		&.active {
			transform: translateY(15%);
			font-size: 0.7rem;
		}
	}

	.error {
		color: rgb(150, 11, 11);
		font-size: 0.7rem;
		padding-left: 10px;
	}
}

.btn {
	border: 0px;
	overflow: unset;
	cursor: pointer;
	width: 100%;
	background: $primaryColor;
	color: #fff;
	padding: 18px;
	text-align: center;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		height: 15px;
		transform: translateX(-10px);
	}

	&:hover {
		background: #1775b9;
	}
	&.outline {
		border: 1.5px solid #ccc;
		background: transparent;
		color: #777;
		&:hover {
			background: #eee;
		}
	}
}

.form {
	padding: 20px 10%;
	padding-top: 0px;

	@media (min-width: 768px) {
		padding: 20px 5%;
	}
	&.edit {
		overflow-y: auto;
		@media (min-width: 768px) {
			padding: 0px 20% !important;
		}
	}
}

.pageTitle {
	margin-top: 15px;
	margin-bottom: 5px;
}

.pageWrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1;

	@media (min-width: 768px) {
		flex-direction: row;
		padding-top: 30px;
	}
}

.layout {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

.spacer {
	width: 20px;
}

.notFound {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.bigText {
		font-size: 8rem;
	}

	a {
		margin-top: 20px;
	}
}
