@import "./variables.scss";
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

select,
input,
textarea,
button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

::-webkit-scrollbar {
	width: 17px;
	padding-right: 4px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: rgb(11, 24, 59);
	border-radius: 10px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}

nav {
	background: $primaryColor;
	color: #fff;
	padding: 15px 20px;
	font-size: 1.2rem;
	font-weight: 600;
}
