@import "./variables.scss";
.taskList {
	width: 100%;
	background: $primaryColor;
	color: #fff;
	height: 100%;
	border-radius: 15px 15px 0px 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.head {
		padding: 15px 20px;
		font-weight: bold;
	}

	.wrapper {
		width: 100%;
		height: 100%;
		border-radius: 15px 15px 0px 0px;
		background: $accentColor;
		padding: 15px 5px 10px 10px;
		overflow-y: scroll;
		overflow-x: hidden;
		flex: 1;
		margin: auto;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-auto-rows: max-content;

		&.empty {
			display: flex;
		}

		.emptyList {
			height: 100%;
			width: 100%;
			text-align: center;
			color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.card {
			padding: 5px;
		}

		.taskCard {
			height: 100%;
			width: 100%;
			background-color: #fff;
			color: #000;
			padding: 12px 10px;
			border-radius: 5px;
			box-shadow: 0px 0px 10px 0px #00000050;
			display: flex;
			flex-wrap: wrap;
			word-wrap: break-word;
			flex-direction: column;

			.title {
				font-weight: bold;
			}
			.desc {
				margin-top: 5px;
				margin-bottom: 30px;
				font-size: 0.75rem;
			}
			.row {
				margin-top: auto;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.status {
				font-size: 0.8rem;
				background: $primaryColor;
				color: #fff;
				padding: 3px 15px;
				border-radius: 5px;
			}

			img {
				height: 20px;
			}
		}
	}
}

@media (min-width: 768px) {
	.taskList {
		width: unset;
		flex: 2;
		margin-right: 30px;
	}
	.form {
		width: unset;
		flex: 1;
		padding: 0px 50px !important;
	}
}
